<div class="app-header__start flex align-items-center gap-2 min-w-0">
  <div class="app-header__title grid gap-1 min-w-0">

  </div>
</div>

<div class="app-header__user flex align-items-center gap-3">
  <div class="app-header__user-info grid gap-1 text-right flex-column">
    <strong class="text-color font-semibold line-height-1">Lucas Dué</strong>
    <span class="text-color-secondary text-sm line-height-1">CTO</span>
  </div>
  <p-avatar label="LD" shape="circle" size="large" class="bg-primary" />
</div>
